flet>=0.21.0
flet_core
flet_components
openpyxl
openpyxl_image_loader
pyinstaller
python-barcode
qrcode
notify-py
apscheduler
flet-mvc
-e git+https://github.com/MrYassinox/flet-components.git@main#egg=flet-components